{# {%if%}是控制语句 #}
{% if name %}
<h1>{{name}}</h1>
{% endif %}
{% if goods %}
{% for good in goods%}
<li>{{good.name}}</li>
{%endfor%}
{%endif%}

<hr>
<h1>Python flask常见的过滤器</h1>
<hr>
<h3>1. 字符串过滤器</h3>
<p>{{jack|default('None',true)}}</p>
{# 实现首字母大写的目的#}
<p>{{'hello'|capitalize}}</p>
{# 替换字符串 #}
<p>{{'hello world'|replace('world','python')}}</p>
<hr>
<h3>2. 列表过滤器</h3>
<p>{{['0','1','2','3'] | first}}</p>
<p>{{['0','1','2','3'] | last}}</p>
<p>{{['0','1','2','3'] | count}}</p>
<p>{{['0','1','2','3'] | sort}}</p>
<p>{{['0','1','2','3'] | join(',')}}</p>
<hr>
<h3>3.自定义过滤器</h3>
<li>{{'kfkjshfjk7436jsfghsgahfsdghaf' | index_last}}</li>
{# 宏的定义及使用 #}
